@import "var.scss";
main {
  min-height: calc(100vh - 270px);
  .coach {
    max-width: 800px;
    margin: 80px auto 10px;
    background-color: $contentBg;
    padding: 1%;
    border-radius: $radius;
    .coach_content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .coach_image {
        img {
          border-radius: 5px;
          // box-shadow: $shadow;
        }
      }
      .coach_text {
        h4 {
          text-align: center;
          font-size: 2em;
        }
      }
    }
  }
}
@media screen and (min-width: 1024px) {
  main {
    min-height: calc(100vh - 300px);
    .coach {
      margin: 190px auto 10px;
      box-shadow: $shadow;
    }
  }
}

// @media screen and (min-width: 1280px) {
//   main {
//     min-height: calc(100vh - 300px);
//   }
// }
