@import "var.scss";
main {
  min-height: calc(100vh - 180px);
  .contacts {
    max-width: 800px;
    background-color: $contentBg;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 20px;
    box-shadow: $shadow;
    padding: 1%;
    border-radius: $radius;
    .contacts_bcc {
      margin: 0 auto;
      font-family: 'Tahoma', 'Verdana', sans-serif;
      iframe {
        display: block;
        width: 100%;
        height: 300px;
        margin: 0 auto;
      }
      .contacts_address {
        width: 100%;
        table {
          border-collapse: collapse;
          border: 0;
          width: 105%;
          tr {
            td {
              padding: 10px;
            }
          }
        }
        tr:first-child {
          font-weight: 600;
          height: 30px;
        }
        tr:nth-child(even) {
          background-color: $tableLine;
        }
        td:nth-child(odd) {
          font-size: 0.9em;
        }
        td:nth-child(even) {
          font-size: 0.8em;
        }
      }
    }
  }
  .contacts_form {
    .contacts_bcc {
      .contacts_input {
        border-radius: $radius;
        max-width: 800px;
        background-color: $contentBg;
        margin: 0 auto;
        margin-bottom: 20px;
        box-shadow: $shadow;
        padding: 1%;
        form {
          font-family: 'Tahoma', sans-serif;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          div {
            margin: 10px 0;
          }
          input {
            margin-bottom: 20px;
            padding: 5px;
            width: 95%;
            border: none;
            border-radius: 5px;
            font-size: 0.9em;
            &:hover,
            &:active,
            &:focus {
              box-shadow: $shadow;
              outline: none;
            }
          }
          textarea {
            width: 95%;
            height: 150px;
            padding: 5px;
            margin-bottom: 10px;
            border: none;
            border-radius: 5px;
            font-size: 0.9em;
            &:hover,
            &:active,
            &:focus {
              box-shadow: $shadow;
              outline: none;
            }
          }
          #submit {
            width: 30%;
            cursor: pointer;
            background-color: $tableLine;
            &:hover,
            &:active,
            &:focus {
              box-shadow: $shadow;
              background-color: $hoverColor;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  main {
    min-height: calc(100vh - 260px);
    .contacts {
      // width: 70%;
      margin-top: 140px;
      .contacts_bcc {
        display: flex;
        iframe {
          width: 70%;
        }
        .contacts_address {
          // width: 60%;
          margin-left: 20px;
          td:nth-child(odd) {
            font-size: 1em;
          }
          td:nth-child(even) {
            font-size: 1em;
          }
        }
      }
    }
    .contacts_form {
      font-size: 1.3em;
      .contacts_bcc {
        .contacts_input {
          // width: 70%;
          form {
            input {
              width: 50%;
              font-size: 0.85em;
              padding: 10px;
            }
            textarea {
              width: 50%;
              font-size: 0.85em;
              padding: 10px;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  main {
    min-height: calc(100vh - 260px);
    .contacts {
      // max-width: 800px;
      .contacts_bcc {
        iframe {
          width: 70%;
        }
      }
    }
    .contacts_form {
      .contacts_bcc {
        .contacts_input {
          // max-width: 800px;
        }
      }
    }
  }
}
