main {
  min-height: calc(100vh - 310px); }
  main .contacts {
    max-width: 800px;
    background-color: #f5f5f5;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 10px;
    box-shadow: none;
    padding: 1%;
    border-radius: 3px; }
    main .contacts .contacts_bcc {
      margin: 0 auto;
      font-family: 'Tahoma', 'Verdana', sans-serif; }
      main .contacts .contacts_bcc iframe {
        display: block;
        width: 100%;
        height: 300px;
        margin: 0 auto; }
      main .contacts .contacts_bcc .contacts_address {
        width: 100%; }
        main .contacts .contacts_bcc .contacts_address table {
          border-collapse: collapse;
          border: 0;
          width: 105%; }
          main .contacts .contacts_bcc .contacts_address table tr td {
            padding: 10px; }
        main .contacts .contacts_bcc .contacts_address tr:first-child {
          font-weight: 600;
          height: 30px; }
        main .contacts .contacts_bcc .contacts_address tr:nth-child(even) {
          background-color: #c9c9c9; }
        main .contacts .contacts_bcc .contacts_address td:nth-child(odd) {
          font-size: 0.9em; }
        main .contacts .contacts_bcc .contacts_address td:nth-child(even) {
          font-size: 0.8em; }
  main .contacts_form .contacts_bcc .contacts_input {
    border-radius: 3px;
    max-width: 800px;
    background-color: #f5f5f5;
    margin: 0 auto;
    margin-bottom: 10px;
    box-shadow: none;
    padding: 1%; }
    main .contacts_form .contacts_bcc .contacts_input form {
      font-family: 'Tahoma', sans-serif;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      main .contacts_form .contacts_bcc .contacts_input form div {
        margin: 10px 0; }
      main .contacts_form .contacts_bcc .contacts_input form input {
        margin-bottom: 20px;
        padding: 5px;
        width: 95%;
        border: none;
        border-radius: 5px;
        font-size: 0.9em; }
        main .contacts_form .contacts_bcc .contacts_input form input:hover, main .contacts_form .contacts_bcc .contacts_input form input:active, main .contacts_form .contacts_bcc .contacts_input form input:focus {
          box-shadow: none;
          outline: none; }
      main .contacts_form .contacts_bcc .contacts_input form textarea {
        width: 95%;
        height: 150px;
        padding: 5px;
        margin-bottom: 20px;
        border: none;
        border-radius: 5px;
        font-size: 0.9em; }
        main .contacts_form .contacts_bcc .contacts_input form textarea:hover, main .contacts_form .contacts_bcc .contacts_input form textarea:active, main .contacts_form .contacts_bcc .contacts_input form textarea:focus {
          box-shadow: none;
          outline: none; }
      main .contacts_form .contacts_bcc .contacts_input form #submit {
        width: 30%;
        cursor: pointer;
        background-color: #c9c9c9; }
        main .contacts_form .contacts_bcc .contacts_input form #submit:hover, main .contacts_form .contacts_bcc .contacts_input form #submit:active, main .contacts_form .contacts_bcc .contacts_input form #submit:focus {
          box-shadow: none;
          background-color: #41A7E1; }

@media screen and (min-width: 1024px) {
  main {
    min-height: calc(100vh - 310px); }
    main .contacts {
      margin-top: 190px;
      margin-bottom: 10px; }
      main .contacts .contacts_bcc {
        display: flex; }
        main .contacts .contacts_bcc iframe {
          width: 70%; }
        main .contacts .contacts_bcc .contacts_address {
          margin-left: 20px; }
          main .contacts .contacts_bcc .contacts_address td:nth-child(odd) {
            font-size: 1em; }
          main .contacts .contacts_bcc .contacts_address td:nth-child(even) {
            font-size: 1em; }
    main .contacts_form {
      font-size: 1.3em; }
      main .contacts_form .contacts_bcc .contacts_input form input {
        width: 50%;
        font-size: 0.85em;
        padding: 10px; }
      main .contacts_form .contacts_bcc .contacts_input form textarea {
        width: 50%;
        font-size: 0.85em;
        padding: 10px; } }
@media screen and (min-width: 1280px) {
  main {
    min-height: calc(100vh - 310px); }
    main .contacts .contacts_bcc iframe {
      width: 70%; } }

/*# sourceMappingURL=contacts.css.map */
