main {
  min-height: calc(100vh - 180px); }
  main .contacts {
    width: 90%;
    background-color: #ffffff;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px #ccc;
    padding: 1%; }
    main .contacts .contacts_bcc {
      margin: 0 auto;
      font-family: 'Tahoma', 'Verdana', sans-serif; }
      main .contacts .contacts_bcc iframe {
        display: block;
        width: 100%;
        height: 300px;
        margin: 0 auto; }
      main .contacts .contacts_bcc .contacts_address tr:first-child {
        font-weight: 600;
        height: 30px; }
      main .contacts .contacts_bcc .contacts_address tr:nth-child(even) {
        background-color: #f2f2f2; }
      main .contacts .contacts_bcc .contacts_address td:nth-child(odd) {
        font-size: 0.9em; }
      main .contacts .contacts_bcc .contacts_address td:nth-child(even) {
        font-size: 0.8em; }
  main .contacts_form .contacts_bcc .contacts_input {
    width: 90%;
    background-color: #ffffff;
    margin: 0 auto;
    margin-bottom: 20px;
    box-shadow: 0 0 10px #ccc;
    padding: 1%; }
    main .contacts_form .contacts_bcc .contacts_input form {
      font-family: 'Tahoma', sans-serif;
      font-size: 0.9em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      main .contacts_form .contacts_bcc .contacts_input form div {
        margin: 10px 0; }
      main .contacts_form .contacts_bcc .contacts_input form input {
        margin-bottom: 20px;
        padding: 5px;
        width: 95%;
        border: 1px solid #ccc; }
        main .contacts_form .contacts_bcc .contacts_input form input:hover, main .contacts_form .contacts_bcc .contacts_input form input:active, main .contacts_form .contacts_bcc .contacts_input form input:focus {
          box-shadow: 0 0 5px #ccc;
          outline: none; }
      main .contacts_form .contacts_bcc .contacts_input form textarea {
        width: 95%;
        height: 200px;
        padding: 5px;
        margin-bottom: 10px;
        border: 1px solid #ccc; }
        main .contacts_form .contacts_bcc .contacts_input form textarea:hover, main .contacts_form .contacts_bcc .contacts_input form textarea:active, main .contacts_form .contacts_bcc .contacts_input form textarea:focus {
          box-shadow: 0 0 5px #ccc;
          outline: none; }
      main .contacts_form .contacts_bcc .contacts_input form #submit {
        width: 30%;
        cursor: pointer; }
        main .contacts_form .contacts_bcc .contacts_input form #submit:hover, main .contacts_form .contacts_bcc .contacts_input form #submit:active, main .contacts_form .contacts_bcc .contacts_input form #submit:focus {
          box-shadow: 0 0 10px #cccccc; }

@media screen and (min-width: 1024px) {
  main {
    min-height: calc(100vh - 260px); }
    main .contacts {
      width: 70%;
      background-color: #ffffff;
      margin-top: 140px; }
      main .contacts .contacts_bcc {
        margin: 0 auto;
        display: flex; }
        main .contacts .contacts_bcc iframe {
          display: block;
          width: 70%;
          height: 300px;
          margin: 0 auto; }
        main .contacts .contacts_bcc .contacts_address {
          margin-left: 20px; }
          main .contacts .contacts_bcc .contacts_address td:nth-child(odd) {
            font-size: 1em; }
          main .contacts .contacts_bcc .contacts_address td:nth-child(even) {
            font-size: 1em; }
    main .contacts_form .contacts_bcc .contacts_input {
      width: 70%;
      background-color: #ffffff;
      margin: 0 auto;
      margin-bottom: 20px;
      box-shadow: 0 0 10px #ccc;
      padding: 1%; }
      main .contacts_form .contacts_bcc .contacts_input form {
        font-family: 'Tahoma', sans-serif;
        font-size: 0.9em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        main .contacts_form .contacts_bcc .contacts_input form div {
          margin: 10px 0; }
        main .contacts_form .contacts_bcc .contacts_input form input {
          margin-bottom: 20px;
          padding: 5px;
          width: 90%;
          border: 1px solid #ccc; }
          main .contacts_form .contacts_bcc .contacts_input form input:active, main .contacts_form .contacts_bcc .contacts_input form input:focus {
            box-shadow: 0 0 5px #ccc;
            outline: none; }
        main .contacts_form .contacts_bcc .contacts_input form textarea {
          width: 90%;
          height: 200px;
          padding: 5px;
          margin-bottom: 10px;
          border: 1px solid #ccc; }
          main .contacts_form .contacts_bcc .contacts_input form textarea:active, main .contacts_form .contacts_bcc .contacts_input form textarea:focus {
            box-shadow: 0 0 5px #ccc;
            outline: none; }
        main .contacts_form .contacts_bcc .contacts_input form #submit {
          width: 30%; } }
@media screen and (min-width: 1280px) {
  main {
    min-height: calc(100vh - 260px); }
    main .contacts {
      width: 50%;
      background-color: #ffffff;
      margin-top: 140px; }
      main .contacts .contacts_bcc {
        margin: 0 auto;
        display: flex; }
        main .contacts .contacts_bcc iframe {
          display: block;
          width: 70%;
          height: 300px;
          margin: 0 auto; }
        main .contacts .contacts_bcc .contacts_address {
          margin-left: 20px; }
          main .contacts .contacts_bcc .contacts_address td:nth-child(odd) {
            font-size: 1em; }
          main .contacts .contacts_bcc .contacts_address td:nth-child(even) {
            font-size: 1em; }
    main .contacts_form .contacts_bcc .contacts_input {
      width: 50%;
      background-color: #ffffff;
      margin: 0 auto;
      margin-bottom: 20px;
      box-shadow: 0 0 10px #ccc;
      padding: 1%; }
      main .contacts_form .contacts_bcc .contacts_input form {
        font-family: 'Tahoma', sans-serif;
        font-size: 0.9em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        main .contacts_form .contacts_bcc .contacts_input form div {
          margin: 10px 0; }
        main .contacts_form .contacts_bcc .contacts_input form input {
          margin-bottom: 20px;
          padding: 10px;
          width: 97%;
          border: 1px solid #ccc; }
          main .contacts_form .contacts_bcc .contacts_input form input:active, main .contacts_form .contacts_bcc .contacts_input form input:focus {
            box-shadow: 0 0 5px #ccc;
            outline: none; }
        main .contacts_form .contacts_bcc .contacts_input form textarea {
          width: 97%;
          height: 200px;
          padding: 10px;
          margin-bottom: 10px;
          border: 1px solid #ccc; }
          main .contacts_form .contacts_bcc .contacts_input form textarea:active, main .contacts_form .contacts_bcc .contacts_input form textarea:focus {
            box-shadow: 0 0 5px #ccc;
            outline: none; }
        main .contacts_form .contacts_bcc .contacts_input form #submit {
          width: 30%; } }

/*# sourceMappingURL=contacts.css.map */
