@import "var.scss";
main {
  min-height: calc(100vh - 200px);
  .gallery {
    margin: 0 auto;
    margin-top: 80px;
    background-color: $contentBg;
    max-width: 800px;
    box-shadow: $shadow;
    padding: 1%;
    border-radius: $radius;
    .gallery_content {
      // padding: 10px;
      margin: 0 auto;
      img {
        width: 100%;
        border-radius: $radius;
      }
    }
    .gallery_content_sml {
      // padding: 10px;
      .thumb {
        padding: 5px;
        img {
          width: 100%;
          border-radius: $radius;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  main {
    min-height: calc(100vh - 240px);
    .gallery {
      margin: 0 auto;
      margin-top: 140px;
      margin-bottom: 20px;
      background-color: $contentBg;
      .gallery_content {
        // padding: 10px;
        margin: 0 auto;
        img {
          width: 100%;
        }
      }
      .gallery_content_sml {
        // padding: 10px;
        .thumb {
          // max-width: 200px;
          padding: 5px;
          img {
            width: 100%;
          }
        }
      }
    }
  }
}

// @media screen and (min-width: 1280px) {
//   main {
//     min-height: calc(100vh - 240px);
//     .gallery {
//       margin: 0 auto;
//       margin-top: 140px;
//       width: 70%;
//       background-color: #ffffff;
//       max-width: 900px;
//       .gallery_content {
//         padding: 10px;
//         margin: 0 auto;
//         img {
//           width: 100%;
//         }
//       }
//       .gallery_content_sml {
//         padding: 10px;
//         .thumb {
//           max-width: 200px;
//           padding: 5px;
//           img {
//             width: 100%;
//           }
//         }
//       }
//     }
//   }
// }
