@import "var.scss";
main {
  min-height: calc(100vh - 180px);
  .schedule {
    background-color: $contentBg;
    max-width: 800px;
    margin: 80px  auto 20px;
    box-shadow: $shadow;
    padding: 1%;
    border-radius: $radius;
    &:nth-child(2) {
      margin-top: 0;
    }
    &:nth-child(3) {
      margin-top: 0;
    }
    .schedule_content {

      table {
        width: 100%;
        border: 0;
        border-collapse: collapse;
        thead {
          td {
            text-align: center;
            padding: 10px;
            background-color: $tableLine;
            // box-shadow: 0px 2px 5px #ccc;
            border-bottom: 1px solid #212121;
          }
        }
        tr {
          &:hover {
              background-color: $hoverColor;
          }
          td {
            padding: 10px;
            &:nth-child(2) {
              text-align: right;
            }
          }
        }
      }
      tr {
        &:nth-child(even) {
          background-color: $tableLine;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  main {
    min-height: calc(100vh - 100px);
    font-size: 1.2em;
    .schedule {
      // width: 60%;
      margin: 140px  auto 20px;
      .schedule_content {
        table {
          tr {
            td {
              padding: 10px 10% 10px;
            }
          }
        }
      }
    }
  }
}
