@font-face {
  font-family: 'FontAwesome';
  src: url("../webfonts/fa-solid-900.ttf") format("truetype");
}
body {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  overflow-y: scroll;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Garamond', 'Georgia' serif;
}

h3 {
  font-style: italic;
  font-weight: 300;
  font-size: 1em;
}

p,
ul,
td,
footer {
  font-family: 'Tahoma', 'Verdana', sans-serif;
}

p {
  font-weight: 300;
  font-size: 1.1em;
}

header {
  width: 100%;
  background-color: #f2f2f2;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
header .bcc {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  height: 70px;
  box-shadow: 0 2px 5px #cccccc;
}
header .logo {
  line-height: 70px;
  font-size: 1.2em;
}
header .logo span {
  padding-left: 75px;
}
header .logo > img {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 10px;
  left: 10px;
}
header .hidden {
  display: block;
}

.menu {
  display: none;
}

.lang {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
}
.lang a {
  padding: 5px 10px;
  margin-right: 5px;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

nav {
  display: block;
  margin: 0 auto;
  position: relative;
  top: 0;
  left: 0;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
  box-shadow: -1px 0 5px #ccc;
}
nav ul li {
  display: block;
  text-transform: uppercase;
  font-weight: 600;
}
nav ul li ul {
  box-shadow: 0 0 5px #ccc;
}
nav ul li ul li {
  text-transform: capitalize;
}
nav ul li ul li a {
  background-color: #ffffff;
  color: #212121;
  font-weight: 500;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
nav ul li ul li a:before {
  font-family: 'FontAwesome';
  content: ' \f0da';
  padding-right: 10px;
}
nav ul li #club {
  display: none;
}
nav ul li #club:checked ~ label {
  background-color: #f2f2f2;
  cursor: pointer;
}
nav ul li #club:checked ~ ul.club_submenu {
  display: block;
}
nav ul li #club:checked ~ label i {
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
}
nav ul li #schedule {
  display: none;
}
nav ul li #schedule:checked ~ label {
  background-color: #f2f2f2;
  cursor: pointer;
}
nav ul li #schedule:checked ~ ul.schedule_submenu {
  display: block;
}
nav ul li #schedule:checked ~ label i {
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
}
nav ul li label {
  display: block;
  padding: 10px 30px;
  background-color: #ffffff;
  cursor: pointer;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
nav ul li label:hover {
  background-color: #f2f2f2;
}
nav ul li label i {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
nav ul li a {
  display: block;
  text-decoration: none;
  padding: 10px 30px;
  background-color: #ffffff;
  color: #212121;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
nav ul li a:hover {
  background-color: #f2f2f2;
}
nav ul li ul.club_submenu {
  display: none;
}
nav ul li ul.schedule_submenu {
  display: none;
}

.news {
  margin: 0 auto;
  width: 90%;
  padding: 1%;
  margin-bottom: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px #cccccc;
}
.news .news_image {
  max-width: 400px;
}
.news .news_image img {
  width: 100%;
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
}
.news:first-child {
  margin-top: 80px;
}
.news:last-child {
  margin-bottom: 20px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f2f2f2;
  background-color: #212121;
  box-shadow: -2px 0 5px #000000;
  height: 180px;
}
footer .footer_copy {
  align-self: center;
  order: 1;
}
footer .footer_contact {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
footer .footer_contact div {
  margin: 5px;
}
footer .footer_contact div:first-child {
  margin-top: 10px;
}
footer .footer_social {
  align-self: center;
  margin: 10px 0;
}
footer .footer_social .fb {
  font-size: 2em;
}
footer .footer_social .fb a {
  color: #f2f2f2;
}
footer .footer_social .fb a:hover {
  color: #4867AA;
}

.clearfix {
  content: '';
  clear: both;
  display: table;
}

@media screen and (min-width: 1024px) {
  header {
    height: 120px;
    position: fixed;
    box-shadow: 0 2px 5px #cccccc;
  }
  header .bcc {
    height: 120px;
  }
  header .logo img {
    width: 100px;
    height: 100px;
  }
  header .logo span {
    position: relative;
    top: 0;
    margin-left: 50px;
    font-size: 2em;
  }
  header .menu {
    display: block;
  }
  header .lang {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    top: -53px;
    background-color: #ffffff;
  }
  header nav {
    display: flex;
    justify-content: flex-end;
    top: -5px;
  }
  header nav ul {
    box-shadow: none;
    display: flex;
  }
  header nav ul li ul {
    top: 5px;
  }
  header nav ul li #schedule {
    display: none;
  }

  .news {
    width: 70%;
  }
  .news:first-child {
    margin-top: 140px;
  }

  footer {
    flex-direction: row;
    justify-content: space-around;
    height: 100px;
  }
  footer .footer_copy {
    order: 0;
  }
  footer .footer_contact {
    order: 1;
  }
}
@media screen and (min-width: 1280px) {
  .wrapper {
    margin: 0 auto;
  }

  header {
    height: 120px;
  }
  header .bcc {
    height: 120px;
  }
  header .logo img {
    width: 100px;
    height: 100px;
  }
  header .logo span {
    line-height: 100px;
    font-size: 2em;
  }
  header nav {
    top: -30px;
  }

  .news {
    width: 50%;
  }
}
@media screen and (min-width: 1395px) {
  header .logo span {
    line-height: 100px;
    font-size: 2em;
  }
  header nav {
    top: -30px;
  }
}

/*# sourceMappingURL=style.css.map */
