@import 'var.scss';
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@font-face {
  font-family: 'FontAwesome';
  src: url('../webfonts/fa-solid-900.ttf') format('truetype');
}
@font-face {
  font-family: 'Bookman Old Style';
  src: url('../fonts/BOOKOS.TTF') format('truetype');
}

body {
  margin: 0;
  padding: 0;
  background-color: $bodyBgColor;
  overflow-y: scroll;
}

h1,
h2,
h3,
h4,
h5,
h6,
.logo > span,
.page_number {
  font-family: 'Bookman Old Style', 'Garamond', 'Georgia', serif;
}

h3 {
  font-style: italic;
  font-weight: 300;
  font-size: 1em;
}

p,
ul,
td,
footer,
.gallery_content,
textarea {
  font-family: 'Open Sans', 'Tahoma', 'Verdana', sans-serif;
}

p {
  font-weight: 500;
  font-size: 1em;
}

header {
  width: 100%;
  height: $headerHeight;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  .bcc {
    background-color: $header;
    height: $marginTopMobile;
    .logo {
      font-size: 1.1em;
      img {
        width: 50px;
        height: 50px;
        position: relative;
        top: 10px;
        left: 10px;
      }
      span {
        padding-left: 20px;
        position: relative;
        top: -7px;
        color: $hoverColor;
      }
    }
  }
  .menu {
    display: none;
    nav {
      display: block;
      margin: 0 auto;
      position: relative;
      top: 10px;
      left: 0;
      font-size: 0.9em;
      font-weight: 600;
      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        position: relative;
        li {
          display: block;
          text-transform: uppercase;
          ul {
            li {
              text-transform: capitalize;
              a {
                background-color: $dropMenuColor;
                color: #212121;
                font-weight: 500;
                transition: all 0.5s ease;
                -webkit-transition: all 0.5s ease;
                -moz-transition: all 0.5s ease;
                -ms-transition: all 0.5s ease;
                -o-transition: all 0.5s ease;
                &:before {
                  font-family: 'FontAwesome';
                  content: ' \f0da';
                  padding-right: 10px;
                }
                &:hover {
                  border-radius: 0;
                }
              }
              &:last-child {
                a {
                  border-bottom-left-radius: $radius;
                  border-bottom-right-radius: $radius;
                }
              }
            }
          }
          #club {
            display: none;
            &:checked {
              ~ label {
                background-color: $hoverColor;
                color: $bodyBgColor;
                cursor: pointer;
              }
              ~ ul.club_submenu {
                display: block;
              }
              ~ label i {
                transform: rotate(-180deg);
                -webkit-transform: rotate(-180deg);
                -moz-transform: rotate(-180deg);
                -ms-transform: rotate(-180deg);
                -o-transform: rotate(-180deg);
              }
            }
          }
          #schedule {
            display: none;
            &:checked {
              ~ label {
                background-color: $hoverColor;
                color: $bodyBgColor;
                cursor: pointer;
              }
              ~ ul.schedule_submenu {
                display: block;
              }
              ~ label i {
                transform: rotate(-180deg);
                -webkit-transform: rotate(-180deg);
                -moz-transform: rotate(-180deg);
                -ms-transform: rotate(-180deg);
                -o-transform: rotate(-180deg);
              }
            }
          }
          label {
            display: block;
            padding: 10px 30px;
            background-color: $header;
            cursor: pointer;
            transition: all 0.5s ease;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            &:hover {
              color: $bodyBgColor;
              background-color: $hoverColor;
              border-radius: $radius;
            }
            // i {
            //   transition: rotate 0.5s ease;
            //   -webkit-transition: rotate 0.5s ease;
            //   -moz-transition: rotate 0.5s ease;
            //   -ms-transition: rotate 0.5s ease;
            //   -o-transition: rotate 0.5s ease;
            // }
          }
          a {
            display: block;
            text-decoration: none;
            padding: 10px 30px;
            background-color: $header;
            color: #212121;
            transition: all 0.5s ease;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            &:hover {
              color: $bodyBgColor;
              background-color: $hoverColor;
              border-radius: $radius;
            }
          }
          ul.club_submenu {
            display: none;
          }
          ul.schedule_submenu {
            display: none;
          }
        }
      }
    }
    .lang {
      display: flex;
      justify-content: center;
      background-color: $header;
      a {
        padding: 10px 10px;
        margin-right: 5px;
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
      }
    }
  }

  .show {
    display: block;
  }
}

main {
  min-height: $pageMainHeight;
  max-width: $pageWidth;
  background-color: $contentBg;
  text-align: justify;
  .club,
  .coach {
    @include contentMarginTop;
    .club_content,
    .coach_content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .club_image,
      .coach_image {
        img {
          width: 250px;
          height: 250px;
          border-radius: $radius;
        }
      }
      .club_text,
      .coach_text {
        h4 {
          text-align: center;
          font-size: 2em;
        }
      }
    }
  }
  .news {
    margin: 0 auto;
    padding: 1%;
    .news_image {
      max-width: 400px;
      img {
        width: 100%;
        float: left;
        margin-right: 20px;
        margin-bottom: 10px;
      }
    }
    &:first-child {
      margin-top: 70px;
    }
    &:last-child {
      margin-bottom: 0px;
    }
  }
  .news_divider {
    height: 10px;
    widows: 100%;
    background-color: $bodyBgColor;
    &:last-child {
      display: none;
    }
  }
  .gallery {
    @include contentMarginTop;
    .gallery_content {
      margin: 0 auto;
      img {
        width: 100%;
        border-radius: $radius;
      }
    }
    .gallery_content_sml {
      margin-top: 5px;
      .thumb {
        padding: 5px;
        img {
          width: 100%;
          border-radius: $radius;
        }
      }
    }
  }
  .schedule {
    padding: $contentPadding;
    &:first-child {
      margin-top: $marginTopMobile;
    }
    .schedule_content {
      table {
        width: 100%;
        border: 0;
        border-collapse: collapse;
        thead {
          td {
            text-align: center;
            padding: 10px;
            background-color: $tableHeadLine;
          }
        }
        tr {
          &:hover {
            background-color: $hoverColor;
            color: white;
          }
          td {
            padding: 10px;
            &:nth-child(2) {
              text-align: right;
            }
          }
        }
      }
      tr {
        &:nth-child(odd) {
          background-color: $tableLine;
        }
      }
    }
  }
  .contacts {
    @include contentMarginTop;
    .contacts_bcc {
      font-family: 'Tahoma', 'Verdana', sans-serif;
      display: flex;
      flex-direction: column;
      align-items: center;
      iframe {
        display: block;
        width: 100%;
        height: 300px;
        margin: 0 auto;
      }
      .contacts_address {
        width: 100%;
        table {
          border-collapse: collapse;
          width: 100%;
          margin: auto;
          tr {
            td {
              padding: 10px;
            }
          }
        }
        tr:first-child {
          font-weight: 600;
          height: 30px;
        }
        tr:nth-child(even) {
          background-color: $tableLine;
        }
        td:nth-child(odd) {
          font-size: 0.9em;
        }
        td:nth-child(even) {
          font-size: 0.8em;
        }
      }
    }
  }
  .contacts_form {
    .contacts_bcc {
      .contacts_input {
        background-color: $contentBg;
        margin: 0 auto;
        padding: 1%;
        form {
          font-family: 'Tahoma', sans-serif;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          div {
            margin: 10px 0;
          }
          input {
            margin-bottom: 20px;
            padding: 5px;
            width: 95%;
            border: none;
            border-radius: $radius;
            font-size: 0.9em;
            &:hover,
            &:active,
            &:focus {
              box-shadow: $shadow;
              outline: none;
            }
          }
          textarea {
            width: 95%;
            height: 150px;
            padding: 5px;
            margin-bottom: 20px;
            border: none;
            border-radius: $radius;
            font-size: 0.9em;
            &:hover,
            &:active,
            &:focus {
              box-shadow: $shadow;
              outline: none;
            }
          }
          #submit {
            width: 30%;
            cursor: pointer;
            background-color: $tableLine;
            transition: all 0.5s ease;
            &:hover,
            &:active,
            &:focus {
              box-shadow: $shadow;
              background-color: $hoverColor;
              color: white;
            }
          }
        }
      }
    }
  }
}

.paginator {
  display: flex;
  justify-content: center;
  background-color: $bodyBgColor;
  .page_number {
    font-size: 1em;
    margin: 10px 10px;
    a {
      text-decoration: none;
      color: #212121;
      padding: 5px 10px;
      border-radius: $radius;
      transition: all 0.5s ease;
      &:hover {
        background-color: $hoverColor;
        color: $bodyBgColor;
      }
    }
    .active {
      color: $header;
      background-color: $header;
      color: $hoverColor;
      &:hover {
        background-color: $header;
        color: $hoverColor;
      }
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f2f2f2;
  background-color: $footerColor;
  height: $footerHeightMobile;
  .footer_copy {
    align-self: center;
    order: 1;
  }
  .footer_contact {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    div {
      margin: 5px;
      &:first-child {
        margin-top: 10px;
      }
    }
  }
  .footer_social {
    align-self: center;
    margin: 10px 0;
    .fb {
      font-size: 2em;
      a {
        color: #f2f2f2;
        &:hover {
          color: #4867aa;
        }
      }
    }
  }
}

.clearfix {
  content: '';
  clear: both;
  display: table;
}

@media screen and (min-width: 1024px) {
  .wrapper {
    max-width: $pageWidth;
    margin: 0 auto;
  }

  header {
    height: $marginTopDesktop;
    position: fixed;
    transition: all 0.3s ease;
    .bcc {
      max-width: $pageWidth;
      height: $marginTopDesktop;
      margin: 0 auto;
      .logo {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        img {
          width: 80px;
          height: 80px;
        }
        span {
          position: relative;
          font-size: 2em;
          top: 0;
        }
      }
    }
    .menu {
      display: flex;
      justify-content: center;
      nav {
        top: 20px;
        ul {
          display: flex;
          li {
            #schedule {
              display: none;
            }
            label {
              background-color: transparent;
            }
            a {
              background-color: transparent;
            }
          }
        }
      }
      .lang {
        display: flex;
        justify-content: center;
        flex-direction: row;
        position: relative;
        background-color: transparent;
      }
    }
  }

  main {
    min-height: $pageMainMinHeight;
    font-size: 1.1em;
    .club,
    .coach {
      @include content;
    }
    .news {
      @include contentFirstChild;
    }
    .gallery {
      @include content;

      .gallery_content {
        background-color: #f2f2f2;
        margin: 0 auto;
        padding: 20px;
        border-radius: $radius;
        img {
          width: 100%;
        }
      }
      .gallery_content_sml {
        background-color: #f2f2f2;
        padding: 20px 20px 40px;
        border-radius: $radius;
        .thumb {
          padding: 5px;
          img {
            width: 100%;
          }
        }
      }
    }
    .schedule {
      @include contentFirstChild;
      .schedule_content {
        table {
          tr {
            td {
              padding: 10px 10% 10px;
            }
          }
        }
      }
    }
    .contacts {
      @include contentContactsOnly;
      .contacts_bcc {
        flex-direction: row;
        iframe {
          width: 50%;
        }
        .contacts_address {
          width: 50%;
          margin-left: 20px;
          td:nth-child(odd) {
            font-size: 1em;
          }
          td:nth-child(even) {
            font-size: 1em;
          }
        }
      }
    }
    .contacts_form {
      font-size: 1.3em;
      .contacts_bcc {
        .contacts_input {
          border-radius: $radius;
          form {
            input {
              width: 50%;
              font-size: 0.85em;
              padding: 10px;
            }
            textarea {
              width: 50%;
              font-size: 0.85em;
              padding: 10px;
            }
          }
        }
      }
    }
  }

  .paginator {
    display: flex;
    justify-content: center;
    background-color: $bodyBgColor;
    .page_number {
      font-size: 1.5em;
      margin: 10px 10px;
      a {
        text-decoration: none;
        color: #212121;
        padding: 5px 10px;
        border-radius: $radius;
        transition: all 0.5s ease;
        &:hover {
          background-color: $hoverColor;
          color: $bodyBgColor;
        }
      }
      .active {
        color: $header;
        background-color: $header;
        color: $hoverColor;
        &:hover {
          background-color: $header;
          color: $hoverColor;
        }
      }
    }
  }

  footer {
    flex-direction: row;
    justify-content: space-around;
    height: $footerHeightDesktop;
    .footer_copy {
      order: 0;
    }
    .footer_contact {
      order: 1;
    }
  }
}
